<template>
  <v-row class="mnx--header mx-auto">
    <v-col cols="6">
      <v-text-field hide-details outlined clearable label="Search" type="text">
        <template #append>
          <v-fade-transition leave-absolute>
            <!-- <v-progress-circular
              v-if="loading"
              size="24"
              color="info"
              indeterminate
            ></v-progress-circular> -->
            <v-icon>mdi-magnify</v-icon>
          </v-fade-transition>
        </template>
      </v-text-field>
    </v-col>
  </v-row>
</template>
<script lang="ts">
export default {
  name: 'MainHeader',
}
</script>

<style lang="scss" scoped>
@use '../styles/mixins';

.mnx--header {
  background: var(--mnx-primary);

  .v-text-field {
    padding: var(--mnx-padding-md) 0 0 0;
    margin: auto 0;
    color: var(--mnx-secondary) !important;
    caret-color: var(--mnx-secondary) !important;
    border-color: var(--mnx-primary) !important;
  }
}
</style>
