<template>
  <v-col cols="10" class="mnx--main-block">
    <MainHeader />
    <article class="mnx--content"></article>
  </v-col>
</template>
<script lang="ts">
import MainHeader from './MainHeader.vue'
export default {
  name: 'MainBlock',
  components: { MainHeader },
}
</script>

<style lang="scss" scoped>
@use '../styles/mixins';
.mnx--main-block {
  padding: 0 0 0 var(--mnx-padding-xs);
  .mnx--content {
    height: 100%;
  }
}
</style>
