<template>
  <v-col cols="2" class="mnx--sidebar">
    <v-row class="mnx--sidebar--logo">
      <!-- <img src="" alt="site logo"> -->
      <v-icon>mdi-notebook</v-icon>
      <span class="font-weight-bold font-italic">MANUXER</span>
    </v-row>
    <v-row>
      <v-navigation-drawer permanent class="mnx--sidebar--tab-block">
        <v-list dense>
          <v-list-item
            v-for="item in mainItems"
            :key="item.title"
            link
            class="mnx--sidebar--tab"
          >
            <v-list-item-icon active-class="mnx--sidebar--tab--icon__active">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </v-row>

    <v-row>
      <v-col>
        <hr class="mnx--sidebar--divider" />
      </v-col>
    </v-row>
    <v-row>
      <v-navigation-drawer permanent class="mnx--sidebar--tab-block">
        <v-list dense>
          <v-list-item
            v-for="item in miscItems"
            :key="item.title"
            link
            class="mnx--sidebar--tab"
          >
            <v-list-item-icon active-class="mnx--sidebar--tab--icon__active">
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
    </v-row>
  </v-col>
</template>
<script lang="ts">
export default {
  name: 'SideBar',
  data() {
    return {
      mainItems: [
        { title: 'Dashboard', icon: 'mdi-view-dashboard' },
        { title: 'Team', icon: 'mdi-account-group' },
        { title: 'Messages', icon: 'mdi-forum' },
        { title: 'Calendar', icon: 'mdi-calendar' },
      ],
      miscItems: [{ title: 'Log Out', icon: 'mdi-exit-to-app' }],

      right: null,
    }
  },
}
</script>

<style lang="scss" scoped>
@use '../styles/mixins';
.mnx--sidebar {
  height: 100vh;
  background: var(--mnx-primary);
  .mnx--sidebar--logo {
    @include mixins.flex-row;
    justify-content: center;
    align-items: center;
    height: 100px;
    .v-icon {
      color: var(--mnx-primary-font);
      margin-right: 15px;
    }
    span {
      font-size: 24px;
      color: var(--mnx-primary-font);
    }
  }
  .mnx--sidebar--tab-block {
    background: none;
    .mnx--sidebar--tab {
      height: 50px;
      font-size: 15px;
      color: var(--mnx-primary-font);
      .v-list-item__icon {
        margin: auto 15px;
        .v-icon {
          color: var(--mnx-primary-font);
        }
      }
      .mnx--sidebar--tab--icon__active {
        color: var(--mnx-secondary);
      }
    }
  }
}
.mnx--sidebar--divider {
  background: var(--mnx-primary-font);
  height: 1px;
  border: none;
  margin: 0 20px;
}
</style>
