<template>
  <v-app>
    <v-container fluid class="mnx--root">
      <v-row>
        <SideBar />
        <MainBlock />
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
import MainBlock from '~/components/MainBlock.vue'
export default {
  name: 'IndexPage',
  components: { MainBlock },
}
</script>

<style lang="scss">
@use '../styles/mixins';
@import '../styles/global.scss';
.mnx--root {
  background: var(--mnx-black);
}
.v-application .primary--text {
  color: var(--mnx-secondary) !important;
  caret-color: var(--mnx-secondary) !important;
}
</style>
