// Custom theme component styles

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
  > .v-input__control
  > .v-input__slot
  fieldset {
  color: var(--mnx-primary-font);
}

.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)
  > .v-input__control
  > .v-input__slot:hover {
  fieldset {
    border: 1px solid var(--mnx-white);
  }
}
.theme--light.v-label {
  color: var(--mnx-primary-font);
}
.theme--light.v-icon {
  color: var(--mnx-primary-font);
}
.theme--light.v-input input {
  color: var(--mnx-white);
}
