:root {
  --mnx-primary: #181718;
  --mnx-primary-rgb: rgb(24, 23, 24);
  --mnx-primary-font: #a5a4a5;
  --mnx-primary-font-rgb: rgb(165, 164, 165);
  --mnx-secondary: #fac482;
  --mnx-secondary-rgb: rgb(250, 196, 130);
  --mnx-black: #000;
  --mnx-white: #fff;
}
